<h1><%= quizz.title%></h1>
<h2><%= quizz.catgories %></h2>
<h3>Combien font 2 + 2</h3>
<input type="radio" id="rep1" name="rep1" value="4"
       checked>
<label>4</label>
<br>
<input type="radio" id="rep2" name="rep2" value="6"
           checked>
<label>6</label>
<br>
<input type="radio" id="rep3" name="rep3" value="8"
       checked>
<label>8</label>
