<h1><%= quizz.title%></h1>
<h2><%= quizz.catgories %></h2>
<h3><%= quizz.question[0]%>Quelle est la capitale de l'Espagne ?</h3>
<input type="radio" id="rep1" name="rep1" value="Barcelone">
<label>Barcelone</label>
<br>
<input type="radio" id="rep2" name="rep2" value="Madrid">
<label>Madrid</label>
<br>
<input type="radio" id="rep3" name="rep3" value="Porto">
<label>Porto</label>
